doctype html
html(lang="en")
  head
    title Chapters
  body
    h1 Chapters
    ul
      each chapter in chapters
        -
          var link = "/browse/series/" + serie + "/chapters/" +  chapter.number + "/pages"
        li: a(href= link) #{chapter.number} - #{chapter.name}
