doctype html
html(lang="en")
  head
    title Manga Now (sh)
  body
    h1 Manga Now (sh)
      each serie in series
        h2 #{serie.name}
        ul
        each chapter in serie.chapters
          - var link = "/browse/series/" + serie.urlName + "/chapters/" +  chapter.number + "/pages/1"
          li: a(href= link) #{chapter.number} - #{chapter.name} - #{chapter.date}
