doctype html
html(lang="en")
  head
    title Series
  body
    h1 Series
    ul
      each serie in series
        -
          var link = "/browse/series/" + serie.replace(/\s+/g, '-').toLowerCase() + "/chapters"
        li: a(href= link)= serie
