doctype html
html(lang="en")
  head
    title Pages
  body
    h1 Pages
    ul
      each page in pages
        -
          var link = "/browse/series/" + serie + "/chapters/" +  chapter + "/pages/" + page
        li: a(href= link)= page
